* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px;
  font-family: Arial
}

.rounded-box {
  background-color: rgb(241,241,241);
  border-radius: 20px;
  padding: 30px;
}

.site-container {
  /* Container for whole site */
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  /* Container for site header */
  margin-bottom: 20px;
  overflow: auto;
}

.site-header__logo {
  /* Site Header logo */
  float: left;
  width: 200px;
  height: 66px;
  background-image: url('https://cloud.githubusercontent.com/assets/1764468/16341829/0857e36e-3a27-11e6-95ce-b2136c0fadb1.png');
  background-repeat: no-repeat;
  padding-top: 0px;
}

.navbar-menu {
  /* Site navigation menu */
  text-align: right;
}

.navbar-menu__item {
  /* Each menu item */
  height:66px;
  line-height:66px;
  padding: 20px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.main-article {
  /* Container for the main article of the site */
  /*height: 306px;*/
  margin-bottom: 20px;
  padding-bottom: 30px;
  overflow: auto;
  vertical-align: top;
}

.main-article h1 {
  font-size: 30px;
  margin-top: 0px;
}

.main-article img {
  display: inline-block;
  max-width: 460px;
  margin: 5px;
  vertical-align: top;
  padding: 0 20px 0 0; /*padding here instead of content for better alignment at small screen widths */
}

.main-article__content {
  vertical-align: top;
  display: inline-block;
  width: 40%;
}

.main-article__sign-up {
  /* sign-up button-style link*/
  background-color: rgb(245,154,1);
  color: white;
  display: block;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;  
  font-size: 30px;
  float: right;
  width: 300px;
  max-width: 300px;
  text-transform: uppercase;
}

.cool-feature {
  /* cool-feature boxes of content at the bottom of page */
  float: left;
  width: 31%;
  height: 150px;
  line-height: 150px;
  margin-right: 3.5%;
  padding: 0px 0px;
  text-align: center;
  font-weight: bold;
}

.cool-feature:last-child {
  /* last cool feature */
  margin-right: 0px;
}
