
* {
    /* select all elements */
    box-sizing: border-box;
}

.rounded-box {
    /* reusable rounded box for content within the site-container */
    background-color: rgb(241,241,241);
    border-radius: 20px;
    padding: 28px;
    margin-bottom: 20px;
}

body {
    /* body of site */
    background-color: white;
    padding: 23px;
    font-family: Arial;
    margin: 0px;
    font-size: 17px;
}

.site-container {
    /* Container for whole site */
    width: 1040px;
    margin: 0 auto;
    padding: 10px;
}

.site-header {
    /* Container for site header */
    padding: 18px;
    overflow: auto;
}

.site-header__logo {
    /* Site Header logo */
    float: left;
    width: 200px;
    height: 66px;
    background-image: url('https://cloud.githubusercontent.com/assets/1764468/16341829/0857e36e-3a27-11e6-95ce-b2136c0fadb1.png');
    background-repeat: no-repeat;
}

.navbar-menu {
    /* Site navigation menu */
    float: right;
}

.navbar-menu__item {
    /* Each menu item */
    line-height: 67px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.navbar-menu__item:hover {
    /* Hover over menu item */
    text-decoration: underline;
}

.main-article {
    /* Container for the main article of the site */
    overflow: auto;
}

.main-article__image {
    /* main image in the main article */
    float: left;    
    padding-right: 30px;
}

.main-article__heading {
    /* main heading of the main article */
    font-size: 35px;
    margin-top: 0px;
}

.main-article__sign-up {
    /* sign-up button-style link*/
    background-color: rgb(245,154,1);
    color: white;
    float: right;    
    border-radius: 10px;
    padding: 13px 100px;
    text-decoration: none;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 35px;
}

.cool-feature {
    /* cool-feature boxes of content at the bottom of page */
    float: left;
    width: 330px;
    line-height: 139px;/*195px height - 2*padding */
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
}

.cool-feature:last-child {
    /* last cool feature */
    margin-right: 0;
}
